* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(42deg, #5ea8d3 0%, #0368d4 48%,#003975 100%) no-repeat fixed;
    background-size: cover;
}
.hidden {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: none;
}