.container {
        width: 80%;
        margin: 80px auto;
    
        h1 {
            padding:60px;
            color: #fefbee;
            font-size: 44px;
            text-align: center;
        }

        h2{
            margin-bottom: 1rem;
        }
        .row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .col {
            flex-basis: 50%;
            min-width: 250px;
        }

        #video {
            width: 90%;
        }

        .controls{
            background-color: whitesmoke;
            border-radius: 10px;
            padding: .5rem;
            width: 90%;

            button {
                background-color: #f8731a;
                color: rgb(0, 0, 131);
                font-weight: bold;
                border-radius: 10px;
                padding: .5rem;
                cursor: pointer;

                &:hover {
                    background-color: rgb(0, 0, 131);
                    color: #f8731a;
                }
            }
        }

        .thumbnailRow {
            display: flex;
            background-color: #fefbee;
            margin: 20px 0;
            padding: auto;
            align-items: center;
            border-radius: 6px;
            overflow: hidden;
            width: 80%;

            .thumbnail {
                position: relative;
            }

            p {
                margin:20px;
                color: #212122;
                line-height: 22px;
                font-size: 18px;
            }

            .playBtn {
                background-color: #f8731a;
                color: rgb(0, 0, 131);
                font-weight: bold;
                border-radius: 10px;
                width: 75%;
                padding: .5rem;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;

                &:hover {
                    background-color: rgb(0, 0, 131);
                    color: #f8731a;
                }
            }
        }

        #lyrics {
            display: none;
            font-size: 18px;
            padding: 10px;
            border-radius: 10px;
            max-width: 40%;
            text-align: center;
            background: whitesmoke;
        }
    }